<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Twitter</title>
    <script>
        const userId = "<%= user._id %>";

    </script>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/stylesheets/scrollbar.css">
    <link rel="icon"
        href="https://t1.gstatic.com/faviconV2?client=SOCIAL&type=FAVICON&fallback_opts=TYPE,SIZE,URL&url=https://x.com&size=256">

    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.4.2/css/all.css" />
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.4.0/css/all.css" />
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.4.0/css/sharp-solid.css" />
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.4.0/css/sharp-regular.css" />
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.4.0/css/sharp-light.css" />
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <link rel="stylesheet" href="/stylesheets/swiper.css">
</head>



<body class="bg-black text-white px-32">
    <div
        class="displayCommentsCont w-full h-screen flex items-center justify-center fixed overflow-hidden transition-all hidden">
        <div
            class="commentsCont w-[50%] h-[50%] rounded-xl bg-zinc-700 overflow-hidden flex flex-col items-center justify-center">
            <nav class="w-full p-3  flex items-center justify-between   ">
                <i></i>
                <i
                    class="fa-light fa-circle-xmark text-xl cursor-pointer hover:text-red-500 transition-all closeComment  "></i>
            </nav>
            <div class="commentHolder flex flex-col w-full h-[70%] overflow-y-auto ">

            </div>
            <div class="commentInpHolder flex justify-between items-center w-full h-[15%] bg-zinc-700 rounded-md ">


            </div>
        </div>
    </div>


    <div class="bar-cont flex items-center">

        <div class="left-bar w-[20%] h-screen ">
            <!-- Functionalities -->

            <div class="functionsCont flex flex-col items-center justify-center w-full p-4">
                <div class="w-full flex flex-col  p-4">
                    <svg viewBox="0 0 24 24" aria-hidden="true" class="text-white fill-current w-8 h-8">
                        <g>
                            <path
                                d="M18.244 2.25h3.308l-7.227 8.26 8.502 11.24H16.17l-5.214-6.817L4.99 21.75H1.68l7.73-8.835L1.254 2.25H8.08l4.713 6.231zm-1.161 17.52h1.833L7.084 4.126H5.117z">
                            </path>
                        </g>
                    </svg>
                </div>
                <a href="/"
                    class="mt-2 py-3 px-2 transition-all border-none outline-none text-base  text-white w-full flex rounded-full font-bold hover:bg-zinc-800 no-underline">
                    <span class="flex items-center justify-center">
                        <svg aria-label="Home" class="mr-2 ml-2" fill="currentColor" height="24" role="img"
                            viewBox="0 0 24 24" width="24">
                            <title>Home</title>
                            <path
                                d="M22 23h-6.001a1 1 0 0 1-1-1v-5.455a2.997 2.997 0 1 0-5.993 0V22a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V11.543a1.002 1.002 0 0 1 .31-.724l10-9.543a1.001 1.001 0 0 1 1.38 0l10 9.543a1.002 1.002 0 0 1 .31.724V22a1 1 0 0 1-1 1Z">
                            </path>
                        </svg>
                        <button class="ml-2"> Home</button>

                    </span>
                </a>
                <a href="/search"
                    class="mt-2 py-3 px-2 transition-all border-none outline-none text-base text-white w-full flex rounded-full hover:bg-zinc-800 no-underline">
                    <span class="flex items-center justify-center">
                        <svg aria-label="Search" class="ml-2 mr-2" fill="currentColor" height="24" role="img"
                            viewBox="0 0 24 24" width="24">
                            <title>Search</title>
                            <path d="M19 10.5A8.5 8.5 0 1 1 10.5 2a8.5 8.5 0 0 1 8.5 8.5Z" fill="none"
                                stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
                            </path>
                            <line fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                stroke-width="2" x1="16.511" x2="22" y1="16.511" y2="22"></line>
                        </svg>
                        <button class="ml-2"> Explore</button>

                    </span>
                </a>

                <a href="/post"
                    class="mt-2 py-3 px-2 transition-all border-none outline-none text-base text-white w-full flex rounded-full hover:bg-zinc-800 no-underline">
                    <span class="flex items-center justify-center">
                        <svg aria-label="New post" class="ml-2 mr-2" fill="currentColor" height="24" role="img"
                            viewBox="0 0 24 24" width="24">
                            <title>New post</title>
                            <path
                                d="M2 12v3.45c0 2.849.698 4.005 1.606 4.944.94.909 2.098 1.608 4.946 1.608h6.896c2.848 0 4.006-.7 4.946-1.608C21.302 19.455 22 18.3 22 15.45V8.552c0-2.849-.698-4.006-1.606-4.945C19.454 2.7 18.296 2 15.448 2H8.552c-2.848 0-4.006.699-4.946 1.607C2.698 4.547 2 5.703 2 8.552Z"
                                fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                stroke-width="2"></path>
                            <line fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                stroke-width="2" x1="6.545" x2="17.455" y1="12.001" y2="12.001"></line>
                            <line fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                stroke-width="2" x1="12.003" x2="12.003" y1="6.545" y2="17.455"></line>
                        </svg>
                        <button class="ml-2"> Post</button>

                    </span>
                </a>
                <a href="/profile/<%= user._id %>"
                    class="mt-2 py-3 px-2 transition-all border-none outline-none text-base text-white w-full flex rounded-full hover:bg-zinc-800 no-underline">
                    <span class="flex items-center justify-center">
                        <img class="w-[30px] h-[30px] rounded-full ml-2 mr-2" src="<%= user.profilePicture %>">
                        <button class="ml-2"> Profile</button>

                    </span>
                </a>
            </div>

        </div>

        <div class="mid-bar w-[47%] h-screen overflow-y-auto border border-y-0 border-x border-zinc-800 ">
            <nav class="h-[64px] border-y border-x border-zinc-800 ">
                <h3 class="text-lg tracking-wide font-bold mt-4 ml-2">For You</h3>
            </nav>

            <div class="postsContainer flex flex-col items-center justify-start w-full">
                <% Data.searchedPost.reverse().forEach(post=> { %>
                    <div class="posts w-full  p-4 border-y border-x border-zinc-800">
                        <div class="userCont flex items-center justify-between">
                            <div class="flex ">
                                <span class="flex flex-col">
                                    <div class="flex ">

                                        <a href="/profile/<%= user._id %>" class="">
                                            <div class="flex flex-col items-center justify-center">
                                                <img class="userPic w-[40px] h-[40px] object-cover rounded-full"
                                                    src="<%= post.userId.profilePicture %>" alt="User Pic">
                                            </div>

                                        </a>
                                        <a href="/profile/<%= post.userId._id %>">

                                            <h2 class="userName ml-2 tracking-wide font-bold mt-[-6px]">
                                                <%= post.userId.username %>
                                            </h2>
                                        </a>
                                    </div>

                                    <div class="postCaptions ml-12 mt-[-18px]">
                                        <h1 class="postCaptionText text-base text-gray-600 flex w-full break-words">
                                            <p class="text-white tracking-wide text-lg">
                                                <%= post.caption %>
                                            </p>
                                        </h1>
                                    </div>
                                </span>
                            </div>

                        </div>
                        <% if (post.file) { %>
                            <div class="postCont w-full overflow-hidden rounded-md p-4">

                                <div
                                    class="postImageCont rounded-md overflow-hidden bg-gray-200 flex flex-col items-center justify-center">
                                    <% if (post.fileTYPE==="video" ) { %>
                                        <video autoplay loop muted class="postPic w-full h-[300px] object-cover"
                                            src="<%= post.file %>"></video>
                                        <% } else if (post.fileTYPE==="image" ) { %>
                                            <img class="postPic w-full h-[300px] object-cover" src="<%= post.file %>">
                                            <% } %>
                                </div>
                            </div>

                            <% } %>
                                <div class="reactions flex items-center w-full justify-between mt-1 px-11">
                                    <div class="flex items-center w-full justify-between">
                                        <div class="postLikes flex flex-col items-center justify-center"
                                            id="<%= post._id %>">
                                            <span class="likeIconCont" id="<%= post._id %>">
                                                <% if (post.likes.includes(user._id)) { %>
                                                    <i class="fa-solid fa-heart text-red-500 cursor-pointer likeBtn text-xl transition-all active:text-2xl focus:animate-bounce"
                                                        id="<%= post._id %>"></i>
                                                    <% } else { %>
                                                        <i class="fa-light fa-regular fa-heart cursor-pointer likeBtn text-xl transition-all hover:animate-pulse active:text-2xl focus:animate-bounce"
                                                            id="<%= post._id %>"></i>
                                                        <% } %>
                                            </span>
                                            <div class="postCounter">
                                                <h1 class="tracking-wide text-md flex items-center">
                                                    <p class="mr-1 likeCounter" id="<%= post._id %>">
                                                        <%= post.likes.length %>
                                                    </p>
                                                    <p class="likeAmmount" id="<%= post._id %>">
                                                        <% if (post.likes.length> 1) { %>
                                                            likes
                                                            <% } else { %>
                                                                like
                                                                <% } %>
                                                    </p>
                                                </h1>
                                            </div>
                                        </div>
                                        <p class="postComments ml-2">
                                            <i class="fa-light fa-regular text-xl fa-comment commentBtn cursor-pointer"
                                                id="<%= post._id %>"></i>
                                        </p>
                                        <p class="postShare ml-2">
                                            <button id="copyButton">
                                                <i class="fa-light fa-paper-plane" id="<%= post._id %>"></i>
                                            </button>
                                            <input type="text" class="textToCopy hidden"
                                                value="http://localhost:3000/posts/<%= post._id %>"
                                                id="<%= post._id %>">
                                        </p>
                                        <p class="postSave ml-2" id="<%= post._id %>">
                                            <% if (user.saved.includes(post._id)) { %>
                                                <span class="savePost cursor-pointer" id="<%= post._id %>">
                                                    <i class="fa-solid fa-bookmark text-xl"></i>
                                                </span>
                                                <% } else { %>
                                                    <span class="savePost cursor-pointer" id="<%= post._id %>">
                                                        <i class="fa-light fa-bookmark text-xl"></i>
                                                    </span>
                                                    <% } %>
                                        </p>
                                        <p class="captionToSpeech">
                                            <i class="fa-light fa-microphone text-xl cursor-pointer transition-all"
                                                id="speechButton" data-caption="<%= post.caption %>"></i>
                                        </p>
                                    </div>
                                </div>
                    </div>
                    <% }) %>
            </div>
            <nav class="h-[64px] border-y border-x border-zinc-800 ">
                <h3 class="text-lg tracking-wide font-bold mt-4 ml-2">Suggested picks</h3>
            </nav>

            <div class="postsContainer flex flex-col items-center justify-start w-full">
                <% Data.extraPosts.reverse().forEach(post=> { %>
                    <div class="posts w-full  p-4 border-y border-x border-zinc-800">
                        <div class="userCont flex items-center justify-between">
                            <div class="flex ">
                                <span class="flex flex-col">
                                    <div class="flex ">

                                        <a href="/profile/<%= user._id %>" class="">
                                            <div class="flex flex-col items-center justify-center">
                                                <img class="userPic w-[40px] h-[40px] object-cover rounded-full"
                                                    src="<%= post.userId.profilePicture %>" alt="User Pic">
                                            </div>

                                        </a>
                                        <a href="/profile/<%= post.userId._id %>">

                                            <h2 class="userName ml-2 tracking-wide font-bold mt-[-6px]">
                                                <%= post.userId.username %>
                                            </h2>
                                        </a>
                                    </div>

                                    <div class="postCaptions ml-12 mt-[-18px]">
                                        <h1 class="postCaptionText text-base text-gray-600 flex w-full break-words">
                                            <p class="text-white tracking-wide text-lg">
                                                <%= post.caption %>
                                            </p>
                                        </h1>
                                    </div>
                                </span>
                            </div>

                        </div>
                        <% if (post.file) { %>
                            <div class="postCont w-full overflow-hidden rounded-md p-4">

                                <div
                                    class="postImageCont rounded-md overflow-hidden bg-gray-200 flex flex-col items-center justify-center">
                                    <% if (post.fileTYPE==="video" ) { %>
                                        <video autoplay loop muted class="postPic w-full h-[300px] object-cover"
                                            src="<%= post.file %>"></video>
                                        <% } else if (post.fileTYPE==="image" ) { %>
                                            <img class="postPic w-full h-[300px] object-cover" src="<%= post.file %>">
                                            <% } %>
                                </div>
                            </div>

                            <% } %>
                                <div class="reactions flex items-center w-full justify-between mt-1 px-11">
                                    <div class="flex items-center w-full justify-between">
                                        <div class="postLikes flex flex-col items-center justify-center"
                                            id="<%= post._id %>">
                                            <span class="likeIconCont" id="<%= post._id %>">
                                                <% if (post.likes.includes(user._id)) { %>
                                                    <i class="fa-solid fa-heart text-red-500 cursor-pointer likeBtn text-xl transition-all active:text-2xl focus:animate-bounce"
                                                        id="<%= post._id %>"></i>
                                                    <% } else { %>
                                                        <i class="fa-light fa-regular fa-heart cursor-pointer likeBtn text-xl transition-all hover:animate-pulse active:text-2xl focus:animate-bounce"
                                                            id="<%= post._id %>"></i>
                                                        <% } %>
                                            </span>
                                            <div class="postCounter">
                                                <h1 class="tracking-wide text-md flex items-center">
                                                    <p class="mr-1 likeCounter" id="<%= post._id %>">
                                                        <%= post.likes.length %>
                                                    </p>
                                                    <p class="likeAmmount" id="<%= post._id %>">
                                                        <% if (post.likes.length> 1) { %>
                                                            likes
                                                            <% } else { %>
                                                                like
                                                                <% } %>
                                                    </p>
                                                </h1>
                                            </div>
                                        </div>
                                        <p class="postComments ml-2">
                                            <i class="fa-light fa-regular text-xl fa-comment commentBtn cursor-pointer"
                                                id="<%= post._id %>"></i>
                                        </p>
                                        <p class="postShare ml-2">
                                            <button id="copyButton">
                                                <i class="fa-light fa-paper-plane" id="<%= post._id %>"></i>
                                            </button>
                                            <input type="text" class="textToCopy hidden"
                                                value="http://localhost:3000/posts/<%= post._id %>"
                                                id="<%= post._id %>">
                                        </p>
                                        <p class="postSave ml-2" id="<%= post._id %>">
                                            <% if (user.saved.includes(post._id)) { %>
                                                <span class="savePost cursor-pointer" id="<%= post._id %>">
                                                    <i class="fa-solid fa-bookmark text-xl"></i>
                                                </span>
                                                <% } else { %>
                                                    <span class="savePost cursor-pointer" id="<%= post._id %>">
                                                        <i class="fa-light fa-bookmark text-xl"></i>
                                                    </span>
                                                    <% } %>
                                        </p>
                                        <p class="captionToSpeech">
                                            <i class="fa-light fa-microphone text-xl cursor-pointer transition-all"
                                                id="speechButton" data-caption="<%= post.caption %>"></i>
                                        </p>
                                    </div>
                                </div>
                    </div>
                    <% }) %>
            </div>

        </div>

    </div>

</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.7.3/axios.min.js"
    integrity="sha512-zJXKBryKlsiDaWcWQ9fuvy50SG03/Qc5SqfLXxHmk9XiUUbcD9lXYjHDBxLFOuZSU6ULXaJ69bd7blSMEgxXNQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

<script src="/javascripts/like.js"></script>
<script src="/javascripts/comment.js"></script>
<script src="/javascripts/share.js"></script>
<script src="/javascripts/savePost.js"></script>
<script src="/javascripts/captionToSpeech.js"></script>

</html>